.home-sub-text {
	font-size: 16px;
}

.home-form {
	padding-top: 10px;
}

h3 {
	color: #5627EB;
}

.more-space-text {
	line-height: 30px;
}

.second-legend {
	padding-top: 10px;
	line-height: 50px;
}

.section-div {
	/* 	border-right: 1px black solid; */
	
}

.stylediv ,.contentdiv{
	background-color: white;
	padding-top: 10px;
	padding-bottom: 80px; 
	margin-top: 40px;
}
.contentdiv{
	background-color: #F6F6F6;
}


.log-box {
	height: 300px;
	background-color: black;
	margin-top: 10px;
	padding-top: 10px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	line-height: 1.3;
	overflow: scroll;
}

.log {
	display: block;
	color: white;
}

.successlog {
	display: block;
	color: #90FF33;
}

.faillog {
	display: block;
	color: #FF5E33;
}

#my_file_output {
	font-weight: bold;
	/* 	margin-top: 10px; */
}

.home-right-box {
	/* 	background-color: #F9F9FF; */
	/* 	padding: 30px; */
	border: 1px #2ED5AE solid;
	border-radius: 5px;
	margin-top: 70px;
	padding: 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.3s ease-in-out;
	background-color: white;
}

.shadow:hover, .home-right-box:hover {
	box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

.logo {
	height: 30px;
	margin-top: 20px;
}

.home-landing {
	margin-top: 5px;
	/* 	height: 100%; */
}

.chat-agents {
	max-height: 150px;
	padding: 40px;
}

.chat-agents-container {
	margin-top: 50px;
}

.promo-t1 {
	font-size: 18px;
}

.blue-text {
	color: #2ED5AE
}

.blue-underline {
	text-decoration: underline;
	text-decoration-color: #2ED5AE;
}

.raise:hover {
	box-shadow: 0 0.5em 0.5em -0.4em var(- -hover);
	transition: transform 1s;
	transform: translateY(-1.5em);
}

#bgtrig {
	position: absolute;
	top: -60;
	right: 0;
	width: 0;
	height: 0;
	border-top: 50vh solid transparent;
	border-right: 90vh solid #2ED5AE;
	border-bottom: 90vh solid transparent;
}

/* #bgtrig { */
/* 	position: absolute; */
/* 	border-bottom: 50vh solid #3dc0ff; */
/* 	border-left: 18vw solid transparent; */
/* 	width: 35vw; */
/* 	top: 0; */
/* 	right: 0; */
/* 	z-index: -99991; */
/* } */
#bgtrig2 {
	position: absolute;
	border-bottom: 50vh solid #3dc0ff;
	border-left: -18vw solid transparent;
	width: 35vw;
	top: 50vh;
	right: 0;
	z-index: -99991;
}

.home-section {
	background-color: #00A0E3;
	padding: 0;
	/* 	border-bottom: 1px solid black; */
	padding: 0;
	background-color: #00A0E3;
}

.home-section-alt {
	background-color: yellow;
	padding: 0;
	/* 	border-bottom: 1px solid black; */
	padding: 0;
}

.home-section-title {
	color: white;
}

#msg {
	font-size: 18px;
	color: #5627EB;
}

.use-case-box {
	/* 	background-color: #F9F9FF; */
	padding: 10px;
	border: 1px #5627EB solid;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.3s ease-in-out;
	background-color: white;
}

.use-case-box:hover {
	box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

/* ============= */
/* ---- reset ---- */
body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #b61924;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13E8E9;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats, .count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}

.upload-btn {
	margin-top: 30px;
}

.content {
	padding: 2px;
}


body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px white;
background-color: white;
}

body::-webkit-scrollbar {
width: 5px;
background-color: #2ED5AE;
}

body::-webkit-scrollbar-thumb {
background-color: #2ED5AE;
border: 0px solid white;
}

.img-cnt {
width: 100%;
cursor: pointer;
}


.finalpage {
	background-color: #F6F6F6;
	padding-top: 60px;
	padding-bottom: 80px;
	margin-top: 40px;
}

@media screen and (max-width: 760px) {
	.upload-btn {
		margin-bottom: 15px;
		margin-top: 0px;
	}
	.contentdiv {
		padding-bottom: 130px;
	}
	.home-right-box{
		margin-top: 25px;
	}
}

.content-image {
	width: 100%;
}

.how-it-works {
	width: 100%;
	padding:10px;
	background-color: white;
}